<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-brand">
      <!-- Brand -->
  <a class="navbar-brand ">Catalogue</a>
  </div>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    
    <!-- Dropdown -->
    <li class="nav-item dropdown" *ngIf="isAuthenticated()">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Admin
      </a>
      <div class="dropdown-menu">
        <a *ngIf="isAdmin()"class="dropdown-item" routerLink="/adminCategories">Gestion des Categories</a>
        <a *ngIf="isUser()" class="dropdown-item" routerLink="/adminProducts">Gestion des Produits</a>
        <a *ngIf="isAdmin()"class="dropdown-item" routerLink="/adminUsers">Gestion des utilisateurs</a>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-brand navbar-nav ml-auto">
    <li>
      <a *ngIf="!isAuthenticated()" routerLink="/login">Login</a>
      <a class="btn" *ngIf="isAuthenticated()" (click)="logOut()">Logout</a>
    </li>
  </ul>
</nav>
<div></div>
<div class="row">
<div class="col-md-2">
  <!-- afficher les categories -->
  <app-categories></app-categories>
</div>
<div class="col-md-9">
<!-- afficher les produits -->
<router-outlet>
  <!-- mettre les differents composant a afficher en fonction des routes de lapp -->

</router-outlet>
</div>
</div>